__pycache__/ttkHyperlinkLabel.cpython-312.pyc
tests/__pycache__/test_recentjournal.cpython-312.pyc
tests/__pycache__/test_socials.cpython-312.pyc
src/__pycache__/__init__.cpython-312.pyc
src/__pycache__/recentjournal.cpython-312.pyc
src/__pycache__/socials.cpython-312.pyc
